<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wb.mapper.PostMapper">


    <insert id="insTimeline">
        insert into timeline(userId , postId , postTime)
        <foreach collection="uids" item="uid" separator="," open="(" close=")">
            values(#{uid} , #{postId} , now())
        </foreach>
    </insert>


</mapper>
